# Basic for loop in python

***A for loop is used to repeat a block of code a specific number of times, or eachin a sequence like a (list,string,etc)***

In [2]:
for i in outer_loop:
    for j in inner_loop:

_IncompleteInputError: incomplete input (566310280.py, line 2)

In [5]:
fruits=["banana","mango","graphs"]
for fruit in fruits:
    print(fruit,end="name")

banananamemangonamegraphsname

In [8]:
fruits=["banana","mango","graphs"]
for fruit in fruits:
    print(fruit,end="")

bananamangographs

In [13]:
digites=["4","88","66"]
for digit in digites:
    print(digit,end="*")

4*88*66*

In [ ]:
fruits=["banana","mango","graphs"]
for fruit in fruits:
    print(fruit,end="this is very ummy")

In [18]:
games=["hockey","badmintan","chees"]
for game in games:
    print(games.append,end="hey!")

<built-in method append of list object at 0x000001DAF45CFD80>hey!<built-in method append of list object at 0x000001DAF45CFD80>hey!<built-in method append of list object at 0x000001DAF45CFD80>hey!

In [ ]:
games=["hockey","badmintan","chees"]
for game in games:
    print(games.append("wow"),end="hey!")

In [23]:
games=["hockey","badmintan","chees"]
for game in games:
    print(games,end="hello guys")

['hockey', 'badmintan', 'chees']hello guys['hockey', 'badmintan', 'chees']hello guys['hockey', 'badmintan', 'chees']hello guys

In [22]:
games=["hockey","badmintan","cricket"]
for game in games:
    print(games,end="hello guys")

['hockey', 'badmintan', 'cricket']hello guys['hockey', 'badmintan', 'cricket']hello guys['hockey', 'badmintan', 'cricket']hello guys

In [21]:
game={"name","clases"}
for games in game:
    print(game,end="name")

{'name', 'clases'}name{'name', 'clases'}name

# using range() with for loop
range (start,stop,step)is often used with for to repeat something multiple times

In [20]:
for in range (15,25,7):
print(i)

SyntaxError: invalid syntax (1000956281.py, line 1)

# nested for loop

In [38]:
rows=5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

In [31]:
"name" + "age"

'nameage'

In [34]:
"clasees" - "sd"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

the range is from 1 to 6 therefore i # values 
i=1 the output will be "neha"*1
for i =i=2 the output will be "neha"*"neha"

In [43]:
row=10
for i in range(1,row +1):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [4]:
row=12
for i in range(1,row,+ 2):
    print("*" *i)

*
***
*****
*******
*********
***********

In [29]:
row=5
for i in range(10,row +1):
 print("*" *i)

In [30]:
row=10
for i in range(1,row,+1):
     print("*" *i)

*
**
***
****
*****
******
*******
********
*********

In [19]:
row=10
for i in range(1,row,-1):
     print("*" *i)

In [27]:
s=10
print(s)

10

In [25]:
row=5
for i in range(1,row + 1):
    for j in range(1,i + 1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [1]:
row=10
for i in range(1,row+1):
    print("*" *i)

*
**
***
****
*****
******
*******
********
*********
**********

In [9]:
row=5
for i in range(1,row+2):
    for m in range(1,i+1):
        print(m,end="")
    print()

1
12
123
1234
12345
123456

In [17]:
row=5
for i in range(1, row+2):
    for k in range(1,i+1):
        print(k,end="")
    print()

1
12
123
1234
12345
123456

In [17]:
i=1
while i >= 5:
    print(i)
    i=i+1
print("get up it is times of study")

get up it is times of study

In [16]:
i=1
while i >= 5:
    print(i)
    i=i-1
print("get up it is times of study")

get up it is times of study

# crux of making patterns

***outer loop controls the number of rows(vertical dimension)***
***inner loop control characters per row(horizontal dimension)***
***print(...end="") keeping printing in the same line***
***print()movesto the next line after a row is done***
***logic in inner descides what to point:,number ,space,etc***
***conditions (if) used for shapes like hollow boxes,diagonals etc.***

In [2]:
row=10
for i in range(1,row+2):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [4]:
row=10
for i in range(1,row+2):
    for j in range(1,i+2):
    print(j)
print()

IndentationError: expected an indented block after 'for' statement on line 3 (3191122572.py, line 4)

In [12]:
row=5
for i in range(1,row + 1):
    for j in range(1,i + 1):
        print(j,end="*")
    print()

1*
1*2*
1*2*3*
1*2*3*4*
1*2*3*4*5*

In [24]:
row=10
i=1
while i <= row:
    j=1
    while j <= 5:
        print(j,end="")
        j += 1
    print()
    i += 1

12345
12345
12345
12345
12345
12345
12345
12345
12345
12345

# python functions

***Python Functions are blocks of statements that perform a specific task. 
The main idea is to put some commonly or repeatedly used code inside a function 
so that instead of writing the same code again and again for different inputs, 
we can simply call the function. This makes the program shorter, easier to read, 
and reusable.***

# def function_name(parameter1,param2):
    # some work
    return val
    function_name(ar1,arg2)#function call

In [33]:
def fun():
    return("welcome to vijai")
fun()

'welcome to vijai'

In [3]:
def calculate_sum(a,b):
    sum=a + b
    print(sum)
calculate_sum(4,5)

9

In [5]:
a=int(input("enter a value:"))
b=int(input ("enter b value:"))
def calculate_sum(a,b):
    sum=a + b
    print(sum)
calculate_sum(a,b)

enter a value: 34
enter b value: 34

68

In [7]:
a=int(input("enter a value:"))
b=int(input ("enter b value:"))
def calculate_sum(a,b):
    sum=a * b
    print(sum)
calculate_sum(a,b)
calculate_sum(a,b)

enter a value: 56
enter b value: 56

3136
3136

In [6]:
def print_hello():
    print("\n hello neha"*10)
print_hello()

 hello neha
 hello neha
 hello neha
 hello neha
 hello neha
 hello neha
 hello neha
 hello neha
 hello neha
 hello neha

In [10]:
def avarge_numbers(a,b,c):
    sum=a + b+c
    avarage=sum/3
    return avarage
avarge_numbers(7,7,9)

7.666666666666667

In [11]:
a=int(input("enter a value:"))
b=int(input ("enter b value:"))
c=int(input("enter c value:"))
def avarge_numbers(a,b,c):
    sum=a + b+c
    avarage=sum/3
    return avarage
avarge_numbers(a,b,c)

enter a value: 34
enter b value: 23
enter c value: 23

26.666666666666668

In [8]:

a=int(input("enter any number:"))
b=int(input("enter any number:"))
opretor=input("enter any opretors(+,-,*,/):")
if opretor == '+':
    result=a+b
elif opretor == '-':
    result=a-b
elif opretor == '*':
    result=a*b
elif opretor =='/':
    if b!= 0:
        result=a/b
    else:
        result="invalid opretor"
else:
    result="invalid opretor"
print("result",result)

enter any number: 88
enter any number: 99
enter any opretors(+,-,*,/): -

result -11

In [7]:
print("MARKSHEET")
subject=["hindi","english","math","science","sst"]
outof= 500
subject_marks={"hindi":"100","english":"100","math":"100","science":"100","sst":"100"}
if subject_marks < 33:
    print("student pass")
else:
    print("student fail")

MARKSHEET

TypeError: '<' not supported between instances of 'dict' and 'int'

In [1]:
a=12
b=18
print(f"the sum of {a} and {b} is {a+b}")

the sum of 12 and 18 is 30

In [4]:
name="neha"
age=19
print("the name is {} and age{} is old.".format(name,age))

the name isneha and age19 is old.

In [12]:
password="neha"
user_input=""
user_input=input("enter password")
if user_input == password:
    print("scessfully login")
else:
    print("this is not your password")

enter password neha

scessfully login

In [1]:
row=7
for i in range(1,row+1):
    print(i)

1
2
3
4
5
6
7

In [2]:
for i in range(5):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3

In [12]:
row=5
i=1
while i <= row:
    print( "*")
    i=i+1

*
*
*
*
*

In [1]:
d = {'a': 5, 'b': 10}
d['a'] = 15
print(d)

{'a': 15, 'b': 10}

In [2]:
d = {'a': 5, 'b': 10}
d['a'] = 15
print(d)

{'a': 15, 'b': 10}

In [3]:
set1 = {1, 2, 3}
set2 = set1.copy()
set2.add(4)
print(set1)

{1, 2, 3}

In [6]:
row=6
for i in range(1,row):
    print("*" * 7)

*******
*******
*******
*******
*******

In [1]:
def evenodd(a):
    if a%2 == 0:
        print("a is even")
    else:
        print("a is odd")
evenodd6)

SyntaxError: unmatched ')' (688481473.py, line 6)