In [3]:
course_1={"name":"neha","course":"data_science","duration":"on_year"}
print(type(course_1))

<class 'dict'>

In [8]:
course_2={"name":"mahi","timing":"11am","no of standard":100,"name":"neha","course":"data_analetis"}
course={"course":"data_science","course":"data_analetis"}
print(course_2)

{'name': 'neha', 'timing': '11am', 'no of standard': 100, 'course': 'data_science'}

std = {1:"neha", 2:"mahi", 3:"priyanshu"}
print(std)

In [9]:
innovetors={[1,2]:"elon musk",[2,3]:"ravindra",[4,5]:"natik"}
print(innovetors)

TypeError: unhashable type: 'list'

In [12]:
innovetors={(1,2):"elon musk",(2,3):"ravindra",(4,5):"natik"}
print(innovetors)

TypeError: unhashable type: 'set'

In [13]:
innovetors={{1,2}:"elon musk",(2,3):"ravindra",(4,5):"natik"}
print(innovetors)

TypeError: unhashable type: 'set'

In [14]:
random_dict={{1,2}:"shardha",{23,34}:"khapra"}
print(random_dict)

TypeError: unhashable type: 'set'

In [17]:
lpu_staff={23:{"tecahers"},24:{"principle"}}
print(lpu_staff)

{23: {'tecahers'}, 24: {'principle'}}

In [20]:
value_dic={12:"lpu",13:"graphic"}
value_dic[12]

'lpu'

In [26]:
course={"course":"data_science","no of student":100}
print(id(course))
course["no of student"]=200
print(course)
print(id(course))

2799973160576
{'course': 'data_science', 'no of student': 200}
2799973160576

In [1]:
program_dict={"gender" : "female", "age":29,"village":"almora"}
print(program_dict["gender"])

female

In [10]:
school_toper_record_2025 ={"higest no": 450,"second no":430,"third":400}
#print(school_toper_record_2025(id))
print(school_toper_record_2025["higest no"])
school_toper_record_2025["higest no"] = 490
print(school_toper_record_2025)

450
{'higest no': 490, 'second no': 430, 'third': 400}

In [12]:
sales_record={12,23,34,"niharika","xyz"}
sales_record.discard("niharika")
print(sales_record)

{'xyz', 34, 23, 12}

In [1]:
d={"name":"mayank","age":28}
print("name",d["name"])

name mayank

In [4]:
print("salary with get:",d.get("sallery"))

salary with get: None

In [5]:
print("age with get:",d.get("age"))

age with get: 28

In [8]:
print(d[28])

KeyError: 28

In [11]:
print(d[0])

KeyError: 0

In [13]:
d={"a":20,"b":3}
d.update("b":20, "c":34)
print("after update",d)

SyntaxError: invalid syntax (295240621.py, line 2)

In [15]:
d={"a":20,"b":3}
d.update({"b":20, "c":34})
print("after update",d)

after update {'a': 20, 'b': 20, 'c': 34}

In [19]:
d={} #empty dict
d["language"]="python"
d["age"]=26
print(d)

{'language': 'python', 'age': 26}

# pop()

In [20]:
d={"a":12,"b":2]
val=d.pop("a")
print("popped a:",val,"|d now:",d)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '{' (2884293215.py, line 1)

In [21]:
d={"a":12,"b":2}
val=d.pop("a")
print("popped a:",val,"|d now:",d)

popped a: 12 |d now: {'b': 2}

# popitem()

In [24]:
d={"x":1,"y":23,"z":3}
item=d.popitem()
print("data type of item:", type(item))
print("popped item:", item,"|d now :", d)

data type of item: <class 'tuple'>
popped item: ('z', 3) |d now : {'x': 1, 'y': 23}

In [25]:
d={"college":"mit","course":"b.tech","duration":4}
d.key()

AttributeError: 'dict' object has no attribute 'key'

In [43]:
d={"college":"mit","course":"b.tech","duration":4}
print("keys",d.keys())

keys dict_keys(['college', 'course', 'duration'])

In [55]:
d_values={"name":"sakshi","age":34}
print(d_values.keys())
d_list=list (d_values.keys())
print(d_list)

dict_keys(['name', 'age'])
['name', 'age']

In [56]:
d_values={"name":"sakshi","age":34}
print(d_values.values())
d_tuple=tuple (d_values.values())
print(d_tuple)

dict_values(['sakshi', 34])
('sakshi', 34)

In [58]:
data_values={"name":"sakshi","age":34}
print(data_values.items())
data_tuple=tuple (data_values.items())
print(data_tuple)

dict_items([('name', 'sakshi'), ('age', 34)])
(('name', 'sakshi'), ('age', 34))

In [62]:
data_values={"highest":"dimand","price":3000,"place":"kolkota"}
print( data_values.values())
data_list=list(data_values)
print(data_list)

dict_values(['dimand', 3000, 'kolkota'])
['highest', 'price', 'place']

# Input Function

In [1]:
amount=input("enter amount in word:")
print(amount)

enter amount in word one thousand

one thousand

In [6]:
amount=input("enter amount in digites:")# the type of data from input functions is always a string
type(amount)

enter amount in digites: 1222

str

In [12]:
amount1=input("enter amount in digites:")
amount2=input("enter amount in digites:")
print(amount1 + amount2)

enter amount in digites: 23
enter amount in digites: 3

233

In [11]:
amount1=int(input("enter amount in digites:"))
amount2=int(input("enter amount in digites:"))
print(amount1 + amount2)

enter amount in digites: 12
enter amount in digites: 23

35

# Basic calculator

In [15]:
number1=float(input("enter first number:"))
number2=float(input("enter second number:"))
result=number1 + number2
print(result)

enter first number: 23
enter second number: 23

46.0

In [17]:
dig1=float(input("enter first dig1:"))
dig2=float(input("enter second dig2:"))
result=dig1 - dig2
print(result

enter first dig1: 23
enter second dig2: 23

0.0

In [18]:
dig1=float(input("enter first dig1:"))
dig2=float(input("enter second dig2:"))
result=dig1 * dig2
print(result)

enter first dig1: 23
enter second dig2: 34

782.0

#  conditional statement (if else elif)

# Making  simple Calculator

In [32]:
n1=int(input("enter first number:"))
n2=int(input("enter second number:"))
opretors= input( "enter opretors :'+' , '-' , '/' ")
if opretors == '+ ':
    result=n1 + n2
elif opretors == '- ':
    result=n1 - n2
elif opretors == '*':
    result=n1* n2
elif opretors =='/':
    result=n1/n2
else:
    print(result)

enter first number: 67
enter second number: 9+

ValueError: invalid literal for int() with base 10: '9+'

In [2]:
n1=int(input("enter first number:"))
n2=int(input("enter second number:"))
opretors= input( "enter opretors (+ , -, * , /):")
if opretors == '+':
    result=n1 + n2
elif opretors == '-':
    result=n1 - n2
elif opretors == '*':
    result=n1 * n2
elif opretors == '/':
    if n2!= 0:
        result= n1 / n2
    else:
        result = "error! division by zero"
else:
    result = "invalid opretors"
print("result",result)

enter first number: 12
enter second number: 12
enter opretors (+ , -, * , /): -

result 0

In [42]:
d1=int(input("enter d :"))
d2=int(input("enter d :"))
opretors=input("enter opretors(+, -,*,/):")
if opretors == '+':
    result= d1 + d2
elif opretors == '-':
    result=d1 + d2
elif opretors == '*':
    result=d1 * d2
elif opretors == '/':
    if d2!= 0:
        result=d1 / d2
    else:
        result="error divison"
else:
    result="invalid oprestors"
print("result",result)

enter d : 1
enter d : 1
enter opretors(+, -,*,/): %

result invalid oprestors

# Making gest room menu  and charges

In [ ]:
"""Gest=int(input("how many people:"))
#room charges start= 2000 ,3000,5000
Room_charges =int(input("enter your budget(5000 , 40000,3000):"))
if Room_charges == 5000:
    total_charge= Room_charges * Gest
elif Room_charges == 4000:
    total_charge=Room_charges* Gest
elif Room_charges == 3000:
    total_charge =Room_charges *Gest
else:
    print("this is not my room charges")
#print("Totalbill=",total_charge)
"""

# Making Traffic Simulator

In [11]:
signal="red","yellow","red"
signal=input("single:")
if signal == "red":
    print("stop")
elif  signal == "yellow":
    print("ready")
elif  signal == "red":
    print("stop")
else:
    print("wrong input")
    print(signal)

single: red

stop

# Temperature Converter Rules

In [13]:
tem=input("enter temerature :")
unit=input("enter unit(celsius,fahrenheit,kelvin):")
print(tem + unit)

enter temerature : 2
enter unit(celsius,fahrenheit,kelvin): celsius

2celsius

In [3]:
mp= int(input("enter mp digest(%):"))
discount=int(input("enter discount%:"))
discount=(mp * discount)/100
sp=mp - discount
print("da" ,discount)
print("sd",sp)

enter mp digest(%): 2
enter discount%: 2

da 0.04
sd 1.96

In [39]:
digit1=float(input("enter number:"))
digit2=float(input("enter number:"))
opretors=input("enter opretors(+,-,*,/,%):")
if opretors == '+':
    result= digit1 + digit2
elif opretors == '-':
    result= digit1 - digit2
elif opretors == '*':
    result= digit1 * digit2
elif opretors == '/':
    if digit2!= 0:
        result =digit1 / digit2
    else:
        result="error show"
else:
    result="invalid opretors"
print("result=",result)

enter number: 11
enter number: 11
enter opretors(+,-,*,/,%): %

result= invalid opretors

# Discount Calculators

In [7]:
market_price= int(input("enter market_price:"))
discount=int(input("enter discount:"))
discount=(market_price * discount)/100
selling_price= market_price - discount
print("total discount",discount)
print("selling_price",selling_price)

enter market_price: 10000
enter discount: 10

total discount 1000.0
selling_price 9000.0

In [8]:
number=input()
print(number)

 100

100

In [9]:
num1=input("enter number")
print(num1)

enter number 10

10

In [12]:
your_name=input("enter name")
print(your_name)

enter name dd

dd

In [16]:
x=2
y=5
result=x*y
print(result)

10

In [17]:
num1=float(input("enter number"))
print(type(num1))

enter number 12

<class 'float'>

In [36]:
num1=float(input("enter first num:"))
num2=float(input("enter second num:"))
if num1 * num2 > num1:
    print("good amount")
elif num1 * num2 < 15:
    print("nice")
else:
    print("out of order")

enter first num: 100
enter second num: 1

out of order

In [38]:
tea=["lemon_tea","milk_tea","masala_tea"]
user_choice=input("enter choice:")
if tea == "lemon_tea":
ingrediants= "lemon" + "water" 
elif tea== "milk_tea":
ingrediants="milk" + "water"
elif tea == "masala_tea":
ingrediants="milk","water","ginger","tea"
else:
print("this tea is not valid")

IndentationError: expected an indented block after 'if' statement on line 3 (4158531351.py, line 4)

In [49]:
tea=["lemon_tea","milk_tea","masala_tea"]
tea_your=input("enter choice:")
lemon_tea=["lemon","water","tea","leave"]
milk_tea=["milk","water"]
masala_tea=["leaves","water","ginger"]
if tea_your == "lemon_tea":
    make=lemon_tea
elif tea_your == "milk_tea":
    make=milk_tea
elif tea_your == "masala_tea":
    make=masala_tea
else:
    print("this tea is not available")
print("your tea:" ,tea_your)

enter choice: lemon_tea

your tea: lemon_tea

In [9]:
Tea=["lemon tea","milk tea","masala tea"]
ingreadiant=input("enter ingrediant(lemon,water,tea,leaves,ginger,condmomo):")
if ingreadiant in [lemon,water,tea,leaves]:
    make="lemon tea"
    print("lemon tea")
elif ingreadiant in [milk,water,tea,leaves]:
    make="milk tea"
    print("milk tea")
elif  ingreadiant in [milk,water,tea,leaves,ginger,condmomo]:
    make="masala tea"
else:
    print("this ingreadiant is not available our list")

enter ingrediant(lemon,water,tea,leaves,ginger,condmomo): lemon,water,tea,leaves

NameError: name 'lemon' is not defined

In [27]:
Tea=["lemon tea","milk tea","masala tea"]
ingreadiant=input("enter ingrediant(lemon,water,tea,leaves,ginger,condmomo):")
if ingreadiant in ["lemon","water","tea","leaves","ginger","condmomo","milk"]:
    if ingreadiant == "lemon":
        make="lemon tea"
        print("lemon tea")
    elif ingreadiant == "milk":
        make="milk tea"
        print("milk tea")
    elif ingreadiant == "condmomo":
        make="masala tea"
        print("our order tea",make)
    else:
        print("this ingreadiant is not available our list")
print("your tea:" , make)

enter ingrediant(lemon,water,tea,leaves,ginger,condmomo): tea

this ingreadiant is not available our list
your tea: lemon tea

In [ ]:
Tea=["lemon tea","milk tea","masala tea"]
ingreadiant=input("enter ingrediant(lemon,water,tea,leaves,ginger,condmomo,milk):")
if ingreadiant in ["lemon","water","tea","leaves"]:
    make="lemon tea",
    print("lemon tea")
elif ingreadiant in  ["milk","water","tea","leaves"]:
    make="milk tea"
    print("milk tea")
elif ingreadiant in ["water","tea","leaves","ginger","condmomo","milk"]:
    make="masala tea"
    print("masala tea")
else:
    print("this ingreadiant is not available our list")
print("your tea:" , make)

In [29]:
Tea=["lemon tea","milk tea","masala tea"]
tea=input("enter choice:")
if tea == "lemon tea":
    make=lemon + water + tea 
elif tea == "milk tea":
    make=milk + water + tea
elif tea == "masala tea":
    make=milk + water + tea + leaves+ ginger + condmomo + milk
else:
    print("this ingreadiant is not available our list")
print("your tea:" , make)

enter choice: ee

this ingreadiant is not available our list

NameError: name 'make' is not defined

In [1]:
name=list(input("enter name:"))
print(list)

enter name: neha ,manisha

<class 'list'>

In [2]:
name=set(input("enter name:"))
print(set)

enter name: {neha}

<class 'set'>

In [4]:
age=dict(input("enter name:"))
print(age)

enter name: {name:"neha"}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [6]:
age=tuple(input("enter name:"))
print(age)

enter name: uu

('u', 'u')

# Get Multiple inputs from a user in one line: use of split () function

***in python it is possible to get multiple values from the user in one line.we can accepttwo or three values from the user
for example in a single exection of the input() function ,we can ask the user his/hername,age
and phone  number***

In [21]:
sentence="hello how are you today"
word=sentence.split()
print(type(word))
print(word)

<class 'list'>
['hello', 'how', 'are', 'you', 'today']

In [18]:
sentence="hello how are you today"
word=sentence.split()
print(type(word))

<class 'list'>

In [16]:
number="10,20,30,40,50"
values= number.split(",")
print(type(values))

<class 'list'>

In [22]:
sentence="hello how are you today"# splitting by default
word=sentence.split(#)
print(type(word))
print(word)

SyntaxError: '(' was never closed (1717531461.py, line 2)

In [24]:
sentence="hello how are you today"
word=sentence.split("#")#splitting by comma
print(type(word))
print(word)

<class 'list'>
['hello how are you today']

In [10]:
date="2023*6*"
year,month,date=date.split("6")
print(year,month,date)

ValueError: not enough values to unpack (expected 3, got 2)

In [32]:
date="2023*6*6$44$$"
year,month,date=date.split("$")
print(year,month,date)

ValueError: too many values to unpack (expected 3)

In [35]:
name_list=["neha","adtiti","mahi"]
name_list.split(",")
print(name_list)

AttributeError: 'list' object has no attribute 'split'

In [36]:
name_list="neha","adtiti","mahi"
name_list.split(",")
print(name_list)

AttributeError: 'tuple' object has no attribute 'split'

In [37]:
name_list="neha,adtiti,mahi"
name_list.split(",")
print(name_list)

neha,adtiti,mahi

In [45]:
data="john,25,8"
name , age , marks=data.split(",")
print(name , age , marks)

john 25 8

In [49]:
data="john,25,8"
name , age , marks=data.split("john")
print(name , age , marks)

ValueError: not enough values to unpack (expected 3, got 2)

In [4]:
data="john,25,8,25,7"
name , age , marks=data.split("25")
print(name , age , marks)

john, ,8, ,7

In [7]:
name,age,mark=input("enter your name ,age, percentage sepreted by $ ").split("$")
print("\n")
print("user details",name,age,mark)

enter your name ,age, percentage sepreted by $  uu uu uu

ValueError: not enough values to unpack (expected 3, got 1)

In [64]:
list_input=list(input())
list_input2=list(input())
print(list_input,list_input2)

 12

TypeError: 'list' object is not callable

# for loop
nested for loop
pattern in for loop
break fast continue

In [5]:
data="john,1,3"
name,clahss,room=data.split("1")
print(name,clahss,room)

ValueError: not enough values to unpack (expected 3, got 2)

In [2]:
college_data="neha&24&34&"
name,room,age=college_data.split("34")
print(name,room,age)

ValueError: not enough values to unpack (expected 3, got 2)

In [4]:
college_data="neha&24&34"
name,room,age=college_data.split("34")
print(name,room,age)

ValueError: not enough values to unpack (expected 3, got 2)

In [9]:
college_data="neha&24&34&"
name,room,age=college_data.split()
print(name,room,age)

ValueError: not enough values to unpack (expected 3, got 1)

In [11]:
line="my name:is neha:karki"
val=line.split(":")
print(val)

['my name', 'is neha', 'karki']

In [1]:
classes,age,date=input("information classes,age,date $").split("$")
print(classes,age,date)

information classes,age,date $ uu jj hh

ValueError: not enough values to unpack (expected 3, got 1)

In [9]:
name,age,mark=input("enter your name ,age, percentage sepreted by $ ").split("$")
print("\n")
print("user details",name,age,mark)

enter your name ,age, percentage sepreted by $  ii tt oo

ValueError: not enough values to unpack (expected 3, got 1)