NameError: name 'tuple1' is not defined

SyntaxError: invalid syntax. Perhaps you forgot a comma?

NameError: name 'ch' is not defined

NameError: name 'tuple1' is not defined

TypeError: can't multiply sequence by non-int of type 'list'

AttributeError: 'list' object attribute 'extend' is read-only

SyntaxError: unterminated string literal (detected at line 1)

NameError: name 'str_data_set' is not defined

AttributeError: 'set' object has no attribute 'append'

IndentationError: expected an indented block after 'for' statement on line 8

TypeError: bad operand type for unary -: 'str'

Click to add a cell.

SyntaxError: invalid syntax. Perhaps you forgot a comma?

TypeError: 'builtin_function_or_method' object is not subscriptable

typeError: 'int' object is not subscriptable

IndentationError: expected an indented block after 'for' statement on line 6

TypeError: cannot set 'name' attribute of immutable type 'str'