  # There is 2 types of data

# Mutable And Immutable

 # mutable data types

***mutable data types are those data types which can be change but after changing there memory address do not changes. List , set, and dictonary
and dictnrnary lsd***

# List

# list is a Muttable Data Type Having Following Characterstic  list is itrasation Denoted By []
***that is it can be mdiffyed ,replace , or deleted without chaning memory address***
***it contains dublecats items***
***the list can have twoitems with the same values***
***list is itreabale is***

***list is ordered that is the order of tha element is in based in such a way that they can be edit in some order
the items of list can be accessed directly using there index number start from 0***

***list contains mixed type of contain of data***

# creating a Python list With different data types

In [4]:
lists_items = [29,"neha",(24) ]
print(lists_items)

[29, 'neha', 24]

# The list constructor or using square bracets[]

In [5]:
[1,6,8,90]
list1=list(tuple1)
print(list1)

NameError: name 'tuple1' is not defined

In [6]:
# iterable data types
list1=[1,7,90]
tuple=(1,6,8,90)
set1={2,7,90,67}
str1="aditya"

In [7]:
list1=list(tuple1)
print(list1)

NameError: name 'tuple1' is not defined

In [8]:
tuple =(1,6,8,90)
list1=list(tuple1)
print(list1)

NameError: name 'tuple1' is not defined

# Indexing

***List is ordered accesing items of a list (indexing shows the property of list beging ordered)***

***The items in a list can be accesed through indexing and slicing .This section will guide you by accessing the ist using the following two ways***

***using indexing we can access any items from a lsit using its index number****

***using slicing , we can access a range of items from a list***

In [13]:
name="neha"
print(name[2])

h

In [14]:
name="neha"
print(len(name))

4

In [15]:
list1_int=[29,25,38.5,62]
print(list1_int[2])

38.5

In [19]:
list1_int=[29,25,38.5,62,34444.34,344]
print(list1_int[-6])

29

In [20]:
list1_int=[29,25,38.5,62,34444.34,344]
print(list1_int[-5])

25

In [24]:
list1_int=[29,25,38.5,62,34444.34,344]
print(len (list1_int))

6

In [28]:
list1_int=[29,25,38.5,62,34444.34,344]
print(list1_int[0:3])

[29, 25, 38.5]

In [30]:
list1_int=[29,25,38.5,62,34444.34,344]
print(list1_int[1:6])

[25, 38.5, 62, 34444.34, 344]

In [33]:
list1_int=[29,25,38.5,62,34444.34,344]
print(list1_int[2: ])

[38.5, 62, 34444.34, 344]

In [4]:
name=["neha" ,"neha","neha"]
print(len(name))

3

In [5]:
name=["neha" ,"neha","neha"]
print(str(name))

['neha', 'neha', 'neha']

In [16]:
list_items=("mango","apple","orange")
print(list_items[0])

mango

In [17]:
list_items=("mango","apple","orange")
print(list_items[1])

apple

In [18]:
list_items=("mango","apple","orange")
print(list_items[0])

mango

In [19]:
name=["neha" ,"neha","neha"]
print(len(name))

3

In [21]:
age={"age":28, "name":"neha", }
print(age)

{'age': 28, 'name': 'neha'}

In [23]:
name={"name", "age", "apple"}
print(name)

{'apple', 'age', 'name'}

In [26]:
name=["name", "mango"]
print(name)

['name', 'mango']

In [28]:
name=["name", "mango", "apple"]
print(name[2])

apple

In [29]:
age=["neha" ,"mango", "apple"]
print(age)

['neha', 'mango', 'apple']

In [30]:
age=["neha" ,"mango", "apple"]
print(age[0])

neha

In [31]:
list1_int=[29,25,38.5,62,34444.34,344,67.78,67.678]
print(list1_int[1:6])

[25, 38.5, 62, 34444.34, 344]

In [32]:
list_age=[34,67.67,89.78,56.899]
print(list_age)

[34, 67.67, 89.78, 56.899]

In [33]:
list_name=["neha","nitin","neetu","naksh"]
print(list_name)

['neha', 'nitin', 'neetu', 'naksh']

In [34]:
list_name=["neha","nitin","neetu","naksh"]
print(list_name[1])

nitin

In [36]:
list_name=["neha","nitin","neetu","naksh"]
print(list_name[0])

neha

In [38]:
items_name=["name", "age"]
print(items_name)

['name', 'age']

In [5]:
name="neha"
print(ch(name))

NameError: name 'ch' is not defined

In [8]:
mylist=["apple" , "banana", "mango"]
print(id(mylist))

2712555280064

In [3]:
myset={"apple" , "banana", "mango", "apple"}
print(myset)

{'apple', 'mango', 'banana'}

In [5]:
mytuple=("12" , "34", "4", "4")
print(mytuple)

('12', '34', '4', '4')

In [24]:
thisdict={
"name": "neha",
"age": 19
  
}
print(thisdict)

{'name': 'neha', 'age': 19}

In [27]:
my_fruite_list=["apple" ,"banana", "mango", "apple"]
print(type (my_fruite_list))

<class 'list'>

In [28]:
myset={"apple" , "banana", "mango", "apple"}
print(type(myset))

<class 'set'>

In [29]:
mytuple=("12" , "34", "4", "4")
print(type(mytuple))

<class 'tuple'>

In [30]:
thisdict={
"name": "neha",
"age": 19
  
}
print(type(thisdict))

<class 'dict'>

In [33]:
my_fruite_list=["apple" ,"banana", "mango", "apple"]
print( len(my_fruite_list))

4

In [35]:
str1="neha"
list_str1=list(str1)
print(list_str1)

['n', 'e', 'h', 'a']

In [36]:
list1=["apple" ,"banana", "mango", "apple"]
print(list1[0])

apple

In [40]:
my_list=[5,8,"geoffrey hinton", 7.50,"sam altman"]
print(my_list)
# iterate a list
for i in my_list:
    print(i)

[5, 8, 'geoffrey hinton', 7.5, 'sam altman']
5
8
geoffrey hinton
7.5
sam altman

In [1]:
my_set={5,8,"geoffrey hinton", 7.50,"sam altman"}
print(my_set)

{'geoffrey hinton', 5, 7.5, 8, 'sam altman'}

In [4]:
mytuple=(5,8,"geoffrey hinton", 7.50,"sam altman")
print(mytuple)

(5, 8, 'geoffrey hinton', 7.5, 'sam altman')

In [5]:
str1="neha"
str1_my_name=list(str1)
print(str1_my_name)

['n', 'e', 'h', 'a']

In [8]:
user_name="ankita"
str1_username=list(user_name)
print(str1_username)

['a', 'n', 'k', 'i', 't', 'a']

In [ ]:
user_list="deepika"
list_str1=list(user_list)

In [1]:
user_name="neetu"
str_user_name=list(user_name)
print(str_user_name)

['n', 'e', 'e', 't', 'u']

In [21]:
student_name_list=['Aarav Mehta', 'Riya Sharma', 'Kabir Nair', 'Ananya Patel', 'Vihaan Singh', 'Ishita Verma', 'Arjun Malhotra', 'Meera Das', 'Devansh Gupta', 'Saanvi Iyer', 'Aditya Reddy', 'Kriti Kapoor', 'Manav Joshi', 'Nisha Bansal', 'Karan Choudhary', 'Tanya Roy', 'Rahul Yadav', 'Priya Menon', 'Siddharth Ghosh', 'Neha Kulkarni']
for i in student_name_list:
    print(i)
    # print(i[::-1])
    #print(len(student_name_list))
   # print(student_name_list[-1])
      # print(student_name_list[::-1])

Aarav Mehta
Riya Sharma
Kabir Nair
Ananya Patel
Vihaan Singh
Ishita Verma
Arjun Malhotra
Meera Das
Devansh Gupta
Saanvi Iyer
Aditya Reddy
Kriti Kapoor
Manav Joshi
Nisha Bansal
Karan Choudhary
Tanya Roy
Rahul Yadav
Priya Menon
Siddharth Ghosh
Neha Kulkarni

In [3]:
student_name_list=['Aarav Mehta', 'Riya Sharma', 'Kabir Nair', 'Ananya Patel', 'Vihaan Singh', 'Ishita Verma', 'Arjun Malhotra', 'Meera Das', 'Devansh Gupta', 'Saanvi Iyer', 'Aditya Reddy', 'Kriti Kapoor', 'Manav Joshi', 'Nisha Bansal', 'Karan Choudhary', 'Tanya Roy', 'Rahul Yadav', 'Priya Menon', 'Siddharth Ghosh', 'Neha Kulkarni']
str_student_name_list=list(student_name_list)
print(len(str_student_name_list))

20

In [7]:
student_name_list=['Aarav Mehta', 'Riya Sharma', 'Kabir Nair', 'Ananya Patel', 'Vihaan Singh', 'Ishita Verma', 'Arjun Malhotra', 'Meera Das', 'Devansh Gupta', 'Saanvi Iyer', 'Aditya Reddy', 'Kriti Kapoor', 'Manav Joshi', 'Nisha Bansal', 'Karan Choudhary', 'Tanya Roy', 'Rahul Yadav', 'Priya Menon', 'Siddharth Ghosh', 'Neha Kulkarni']
for i in student_name_list:
   # print(i * "" 2)
   # print(i * student_name_list)
    print(i[::0 -1])

atheM varaA
amrahS ayiR
riaN ribaK
letaP aynanA
hgniS naahiV
amreV atihsI
artohlaM nujrA
saD areeM
atpuG hsnaveD
reyI ivnaaS
yddeR aytidA
roopaK itirK
ihsoJ vanaM
lasnaB ahsiN
yrahduohC naraK
yoR aynaT
vadaY luhaR
noneM ayirP
hsohG htrahddiS
inrakluK aheN

# Adding Elements to the list

In [17]:
colour_number_list=["Red", 27, "Blue", 89, "Green", 14, "Yellow", 63, "Purple", 32, "Orange", 71, "Pink", 5, "Brown", 46, "Black", 92, "White", 18]
#print(id(colour_number_list))
colour_number_list.append("navy blue")
print(id(colour_number_list))

2712555293248

In [20]:
colour_number_list=["Red", 27, "Blue", 89, "Green", 14, "Yellow", 63, "Purple", 32, "Orange", 71, "Pink", 5, "Brown", 46, "Black", 92, "White", 18]
#print(id(colour_number_list))
colour_number_list.extend("navy blue")
#print(id(colour_number_list))
print(colour_number_list)

['Red', 27, 'Blue', 89, 'Green', 14, 'Yellow', 63, 'Purple', 32, 'Orange', 71, 'Pink', 5, 'Brown', 46, 'Black', 92, 'White', 18, 'n', 'a', 'v', 'y', ' ', 'b', 'l', 'u', 'e']

In [22]:
number_list=[12, 45, 78, 23, 89, 56, 34, 67, 90, 11]
number_list.insert= "33"
print(number_list[2])

AttributeError: 'list' object attribute 'insert' is read-only

number_list=[12, 45, 78, 23, 89, 56, 34, 67, 90, 11]
number_list.append (29)
print(number_list)

extand created =["n" "e" "h" "a"] like this
append craeted=[adding word]

In [40]:
colour_number_list=["Red", 27, "Blue", 89, "Green", 14, "Yellow", 63, "Purple", 32, "Orange", 71, "Pink", 5, "Brown", 46, "Black", 92, "White", 18]
colour_number_list.extend(["Red", 27, "Blue", 89, "Green", 14, "Yellow", 63, "Purple", 32, "Orange", 71, "Pink", 5, "Brown", 46, "Black", 92, "White", 18])
print(colour_number_list)

['Red', 27, 'Blue', 89, 'Green', 14, 'Yellow', 63, 'Purple', 32, 'Orange', 71, 'Pink', 5, 'Brown', 46, 'Black', 92, 'White', 18, 'Red', 27, 'Blue', 89, 'Green', 14, 'Yellow', 63, 'Purple', 32, 'Orange', 71, 'Pink', 5, 'Brown', 46, 'Black', 92, 'White', 18]

In [41]:
colour_number_list=["Red", 27, "Blue", 89, "Green", 14, "Yellow", 63, "Purple", 32, "Orange", 71, "Pink", 5, "Brown", 46, "Black", 92, "White", 18]
colour_number_list.append(["Red", 27, "Blue", 89, "Green", 14, "Yellow", 63, "Purple", 32, "Orange", 71, "Pink", 5, "Brown", 46, "Black", 92, "White", 18])
print(colour_number_list)

['Red', 27, 'Blue', 89, 'Green', 14, 'Yellow', 63, 'Purple', 32, 'Orange', 71, 'Pink', 5, 'Brown', 46, 'Black', 92, 'White', 18, ['Red', 27, 'Blue', 89, 'Green', 14, 'Yellow', 63, 'Purple', 32, 'Orange', 71, 'Pink', 5, 'Brown', 46, 'Black', 92, 'White', 18]]

In [50]:
list1=[2,5,9]
list2=(list1.append(25))
print(list2)

None

# Modify the items of the list

In [63]:
list1=[2,5,9,4]
list1[3] = 34
print(list1)

[2, 5, 9, 34]

In [66]:
list1=[2,5,9]
if(list1 == list2):
print(list2)
list2=(list1.append(25))
print(list2)

IndentationError: expected an indented block after 'if' statement on line 2 (1537274893.py, line 3)

In [70]:
student_name_list=['Aarav Mehta', 'Riya Sharma', 'Kabir Nair', 'Ananya Patel', 'Vihaan Singh', 'Ishita Verma', 'Arjun Malhotra', 'Meera Das', 'Devansh Gupta', 'Saanvi Iyer', 'Aditya Reddy', 'Kriti Kapoor', 'Manav Joshi', 'Nisha Bansal', 'Karan Choudhary', 'Tanya Roy', 'Rahul Yadav', 'Priya Menon', 'Siddharth Ghosh', 'Neha Kulkarni']
student_name_list.extend("neha")
print(student_name_list)

['Aarav Mehta', 'Riya Sharma', 'Kabir Nair', 'Ananya Patel', 'Vihaan Singh', 'Ishita Verma', 'Arjun Malhotra', 'Meera Das', 'Devansh Gupta', 'Saanvi Iyer', 'Aditya Reddy', 'Kriti Kapoor', 'Manav Joshi', 'Nisha Bansal', 'Karan Choudhary', 'Tanya Roy', 'Rahul Yadav', 'Priya Menon', 'Siddharth Ghosh', 'Neha Kulkarni', 'n', 'e', 'h', 'a']

In [82]:
student_name_list=['Aarav Mehta', 'Riya Sharma', 'Kabir Nair', 'Ananya Patel', 'Vihaan Singh', 'Ishita Verma', 'Arjun Malhotra', 'Meera Das', 'Devansh Gupta', 'Saanvi Iyer', 'Aditya Reddy', 'Kriti Kapoor', 'Manav Joshi', 'Nisha Bansal', 'Karan Choudhary', 'Tanya Roy', 'Rahul Yadav', 'Priya Menon', 'Siddharth Ghosh', 'Neha Kulkarni']
student_name_list.extend(['Aarav Mehta', 'Riya Sharma', 'Kabir Nair', 'Ananya Patel', 'Vihaan Singh', 'Ishita Verma', 'Arjun Malhotra', 'Meera Das', 'Devansh Gupta', 'Saanvi Iyer', 'Aditya Reddy', 'Kriti Kapoor', 'Manav Joshi', 'Nisha Bansal', 'Karan Choudhary', 'Tanya Roy', 'Rahul Yadav', 'Priya Menon', 'Siddharth Ghosh', 'Neha Kulkarni'])
for i in student_name_list:
    print(i)

Aarav Mehta
Riya Sharma
Kabir Nair
Ananya Patel
Vihaan Singh
Ishita Verma
Arjun Malhotra
Meera Das
Devansh Gupta
Saanvi Iyer
Aditya Reddy
Kriti Kapoor
Manav Joshi
Nisha Bansal
Karan Choudhary
Tanya Roy
Rahul Yadav
Priya Menon
Siddharth Ghosh
Neha Kulkarni
Aarav Mehta
Riya Sharma
Kabir Nair
Ananya Patel
Vihaan Singh
Ishita Verma
Arjun Malhotra
Meera Das
Devansh Gupta
Saanvi Iyer
Aditya Reddy
Kriti Kapoor
Manav Joshi
Nisha Bansal
Karan Choudhary
Tanya Roy
Rahul Yadav
Priya Menon
Siddharth Ghosh
Neha Kulkarni

In [1]:
mix_data_list=[42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]
mix_data_list[0] = "earth"
print(mix_data_list)

['earth', 'Apple', 3.14, True, 'Blue', 97, False, 'Sun', 8.6, 'Moon', 73]

In [4]:
mix_data_list=[42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]
#len(mix_data_list)
#print(len(mix_data_list))
mix_data_list.extend = mix_data_list
print(mix_data_list)

AttributeError: 'list' object attribute 'extend' is read-only

In [6]:
mix_data_list=[42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]
mix_data_list.extend ("apple")
print(mix_data_list)

[42, 'Apple', 3.14, True, 'Blue', 97, False, 'Sun', 8.6, 'Moon', 73, 'a', 'p', 'p', 'l', 'e']

In [8]:
mix_data_list=[42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]
#len(mix_data_list)
#print(len(mix_data_list))
mix_data_list.extend ( mix_data_list)
print(mix_data_list)

[42, 'Apple', 3.14, True, 'Blue', 97, False, 'Sun', 8.6, 'Moon', 73, 42, 'Apple', 3.14, True, 'Blue', 97, False, 'Sun', 8.6, 'Moon', 73]

In [10]:
mix_data_list=[42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]
if mix_data_list== [42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]:
    print("right")
else:
    print("false")

right

In [14]:
mix_data_list=[42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]
"""if mix_data_list != [42, "Apple", 3.14, True, "Blue", 97, False, "Sun", 8.6, "Moon", 73]:
    print("right")
else:
    print("false")"""
if [2] == 42:
     print("yes")
else:
    print("false")

false

In [1]:
data_set={"apple", "sunshine", "river", "python", "moonlight", "guitar",  "river", "python", "moonlight",apple", "sunshine", "river"}
str_data_set= set(data_set)
print(str_data_set)

SyntaxError: unterminated string literal (detected at line 1) (119127943.py, line 1)

In [3]:
data_set={"apple", "sunshine", "river", "python", "moonlight", "guitar",  "river", "python", "moonlight",apple", "sunshine", "river"}
print(data_set)

SyntaxError: unterminated string literal (detected at line 1) (2379229986.py, line 1)

In [5]:
data_set={"apple","sunshine"}
print(data_set)

{'apple', 'sunshine'}

In [6]:
data_set={"apple", "sunshine", "river", "python", "moonlight", "guitar",  "river", "python", "moonlight","apple", "sunshine", "river"}
print(data_set)

{'python', 'guitar', 'river', 'apple', 'sunshine', 'moonlight'}

In [2]:
data_list=["Blue", 97, "Laptop", 23.5, "Neha", True, "🌟", 482, "Banana", 6.7]
if data_list[0] == "blue":
    print ("yes")
else:
    print("no")

no

In [1]:
data_list=["Blue", 97, "Laptop", 23.5, "Neha", True, "🌟", 482, "Banana", 6.7]
if data_list[0] == "Blue":
    print ("yes")
else:
    print("no")
for i in data_list:
    print(i)
    for i in data_list:
        print(i)

yes
Blue
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
97
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
Laptop
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
23.5
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
Neha
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
True
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
🌟
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
482
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
Banana
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7
6.7
Blue
97
Laptop
23.5
Neha
True
🌟
482
Banana
6.7

In [30]:
data_list=["Blue", 97, "Laptop", 23.5, "Neha", True, "🌟", 482, "Banana", 6.7]
if data_list[0] == "Blue":
    print ("yes")
else:
    print("no")
#for i in data_list:
    #print(i)
    print(id(data_list))
    print(len(data_list))
    print(data_list)
for i in data_list:
    #print([-i)
    #print[-1](i)
    #print(i[-1])
    print(data_list2)
    data_list2 =["apple", "banana", "cherry", "mango"]
    print(id( data_list2))
    print(len(data_list2))

yes
['apple', 'banana', 'cherry', 'mango']
2135873134400
4
['apple', 'banana', 'cherry', 'mango']
2135873062208
4
['apple', 'banana', 'cherry', 'mango']
2135873134400
4
['apple', 'banana', 'cherry', 'mango']
2135873062208
4
['apple', 'banana', 'cherry', 'mango']
2135873134400
4
['apple', 'banana', 'cherry', 'mango']
2135873062208
4
['apple', 'banana', 'cherry', 'mango']
2135873134400
4
['apple', 'banana', 'cherry', 'mango']
2135873062208
4
['apple', 'banana', 'cherry', 'mango']
2135873134400
4
['apple', 'banana', 'cherry', 'mango']
2135873062208
4

In [25]:
list1 = [1, 2, 3, 4, 5]
list2 = ["apple", "banana", "cherry", "mango"]
list3 = [True, False, True, False]
list4 = [3.14, 2.71, 1.41, 0.577]
list5 = ["Python", 101, 9.8, True]
list6 = [10, 20, 30, 40, 50, 60]
list7 = ["red", "green", "blue", "yellow", "purple"]
list8 = [100, "hello", False, 99.99]
list9 = [7, 14, 21, 28, 35]
list10 = ["dog", "cat", "rabbit", "parrot"]

In [34]:
list1 = [1, 2, 3, 4, 5]
list2 = ["apple", "banana", "cherry", "mango"]
list3 = [1, 2, 3, 4, 5]
list4 = [3.14, 2.71, 1.41, 0.577]
list5 = ["Python", 101, 9.8, True]
list6 = [10, 20, 30, 40, 50, 60]
list7 = ["red", "green", "blue", "yellow", "purple"]
list8 = [100, "hello", False, 99.99]
list9 = [7, 14, 21, 28, 35]
list10 = ["dog", "cat", "rabbit", "parrot"]

In [7]:
list2 = ["apple", "banana", "cherry", "mango"]
list2.append ("blue")
list2[2]  = "new_fruits"
print(len(list2))
print(list2)

5
['apple', 'banana', 'new_fruits', 'mango', 'blue']

In [18]:
list6 = [10, 20, 30, 40, 50, 60]
list7 = ["red", "green", "blue", "yellow", "purple"]
list7 = ["red", "green", "blue", "yellow", "purple"]
print(list7[2])
list7 = ["red", "green", "blue", "yellow", "purple"]
list7.append("blue")
print(id(list7))
print(id(list6))
print(len(list6))
print(len(list6))

blue
1758776935296
1758762609152
6
6

In [19]:
list10 = ["dog", "cat", "rabbit", "parrot"]
list10.extend("dog")
print(list10)

['dog', 'cat', 'rabbit', 'parrot', 'd', 'o', 'g']

In [30]:
list10 = ["dog", "cat", "rabbit", "parrot"]
list10.extend("dog")
list10[0] = "neetu"
print(len(list10[-1]))
print(id(list10))
for i in list10:
    print(i)
print(list10[-1])

1
1758776938816
neetu
cat
rabbit
parrot
d
o
g
g

In [33]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [34]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
for i in range(1, 11, 3):
    print(i)

1
4
7
10

In [9]:
name="neetu"
str.name=list(name)
print(name)

TypeError: cannot set 'name' attribute of immutable type 'str'

In [6]:
name="neetu"
str_name=list(name)
print(str_name)
#print(len(str_name))
print(len(name))
print(id(str_name))
print(id(name))

['n', 'e', 'e', 't', 'u']
5
2675521897152
2675507662880

In [13]:
name=["name", "age", "course_name", "college_name"]
str_name= list(name)
print(str_name)
print(len(str_name))
print(id(str_name))

['name', 'age', 'course_name', 'college_name']
4
2675522151680

In [17]:
name=["name", "age", "course_name", "college_name"]
name.append("blue")
print(name)

['name', 'age', 'course_name', 'college_name', 'blue']

In [21]:
data_set={"name", "age", "course_name", "college_name","name", "age", "course_name", "college_name"}
print(data_set)
print(len(data_set))
print(id(data_set))

{'college_name', 'age', 'name', 'course_name'}
4
2675522198144

In [29]:
data_set=["name", "age", "course_name", "college_name","name", "age", "course_name", "college_name"]
data_set.extend("blue")
for i in data_set:
    print(i)
print(data_set)
#print(data_set)
print(id(data_set))
print(len(data_set))

name
age
course_name
college_name
name
age
course_name
college_name
b
l
u
e
['name', 'age', 'course_name', 'college_name', 'name', 'age', 'course_name', 'college_name', 'b', 'l', 'u', 'e']
2675522594112
12

In [1]:
list1=[1,2,5,9,8,7]
print(id(list1))
new_list=[1,2,5,9]
print(id(new_list))

1616856629504
1616856822976

# adding elements to the list

**we can add elements in a list by .append().extend() .insert() method**

In [5]:
list=["name", "age", "course_name", "college_name","name", "age", "course_name", "college_name"]
list.append("neha")
list.extend("neha")
list.insert("neha")
print(list)

TypeError: insert expected 2 arguments, got 1

In [11]:
list1=[2,5,9]
print(id(list1))
list1.append(2,5)
print(list1)

1616871394112

TypeError: list.append() takes exactly one argument (2 given)

In [12]:
list1=[2,5,9]
print(id(list1))
list1.extend(2,5)
print(list1)

1616871785920

TypeError: list.extend() takes exactly one argument (2 given)

In [9]:
list1=[2,5,9]
list1.insert(2,5)
print(list1)

[2, 5, 5, 9]

In [13]:
list1=[2,5,9]
print(id(list1))
list1.append(5)
print(list1)

1616871822720
[2, 5, 9, 5]

In [16]:
list1.extend(5)
print(list1)
# extend contins only one arguments and its shoud be iterable(list,set,dicionary,string,truple)

TypeError: 'int' object is not iterable

In [1]:
list1=[12,23,56,78,9]
new_list=[]
new_list.append[3,7,90]
print(new_list)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [9]:
list1=[12,45,67,876]
new_list=[]
new_list.extend([3,89,89,5])
print(new_list)

[3, 89, 89, 5]

In [3]:
new_list=[3,4,6,7,8]
new_list.insert(3,5)
print(new_list)

[3, 4, 6, 5, 7, 8]

In [5]:
x=10
y=12
print(id(x))
id(y)

140716221052104

140716221052168

In [7]:
new_list=[3,4,6,7,8]
len(new_list)

5