# Characteristics of a set-
***A set is data structure in python with the following three characteristics.***
***unordered The items in the set are unordered ,unlike,i,e..,it will not maintain the order in which the items are inserted .The items will be in a different order each time when we access the Set object .therewill not be any index valueassigned to each items in the set.***

In [6]:
my_set={2,5,[3,4],"neha"}
print(my_set)

TypeError: unhashable type: 'list'

In [7]:
my_set={2,5,"neha"}
print(my_set)

{'neha', 2, 5}

In [8]:
my_set={2,5,"neha"}
my_set.extend([2,4,5])
print(my_set)

AttributeError: 'set' object has no attribute 'extend'

In [15]:
my_list1=[67,67,78,67,89,67]
my_set1=set(my_list1)
print(my_set1)
my_list1=list(my_set1)
print(my_list1)

{89, 67, 78}
[89, 67, 78]

***Creating a set
there are following two ways to create a set in python
using curly brakets.the easiest and straghtforward way of creating a set is but enclosing all the data items inside the curly brackets[].The indiviviual values are comma separted
Using set{}constructor The set objected is of type class 'set' .So wecreate  a set by calling the constructor of class set.
Lets's see each one of them with an example***

In [19]:
list1=[89,78,56,56,56,56,45,34]
my_set=set(list1)
print(my_set)

{34, 45, 78, 56, 89}

In [20]:
tuple=[89,78,89]
my_set1=set(tuple)
print(my_set1)

{89, 78}

In [21]:
set1=set('apppple')
print(set1)

{'a', 'l', 'e', 'p'}

In [24]:
sample_set={'name','vbnh',56,78,67,[77,78,67]} #list is mutuble
print(sample_set)                               # list is unhashable

TypeError: unhashable type: 'list'

In [25]:
set1=set(4,6) # 
print(set1)

TypeError: set expected at most 1 argument, got 2

In [27]:
list1=list1[4,6]
print(list1)

TypeError: list indices must be integers or slices, not tuple

In [28]:
set2=set(3)# set
print(set2)

TypeError: 'int' object is not iterable

In [30]:
set2=set(3.5)# set constructor takes only 
print(set2)

TypeError: 'float' object is not iterable

In [31]:
set1={}
print(set1)

{}

In [32]:
tuple1=(3,)
type(tuple1)

tuple

In [33]:
set5=set((5))
type(set5)

TypeError: 'int' object is not iterable

In [34]:
set5=set((5,))
type(set5)

set

In [37]:
set7=set(())
type(set7)

set

# Tuples

***A tuple is an orderd , immutable collection***
***allow dublicates***
***good for fixed records***

In [4]:
t=(12,24,34)
print(type(t))
print(tuple)

<class 'tuple'>
<class 'tuple'>

In [5]:
t=(12)
print(type(t))

<class 'int'>

In [6]:
t2=1,2,4
print(t2)
print(type(t2))

(1, 2, 4)
<class 'tuple'>

In [8]:
t3=2,
print(type(t3))

<class 'tuple'>

In [13]:
t6=(34,44,44,4,55,55,55,55)
t6.count(44)

2

In [15]:
t6=(34,44,44,4,55,55,55,55)
print(t6.count(4))

1

In [24]:
t6=(34,44,44,4,55,55,55,55)
print(t6.index(4))
print(len(t6))
print(id(t6))
print(t6* 30)# repitations
print(t6 + t6)#concatention

3
8
1854610292288
(34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55)
(34, 44, 44, 4, 55, 55, 55, 55, 34, 44, 44, 4, 55, 55, 55, 55)

In [27]:
# this is membership
t=90,8,2
print(90 in t)
print(3 in t)

True
False

In [30]:
name=("neha" ,"karki")
name1=("neha1","karki1")
name in name1
"neha" in name
"jj" in name

False

In [2]:
menu_items=["pizza","pizza","chowmin","pasta"]
menu_items.count("pizza")
menu_items in 2

TypeError: argument of type 'int' is not iterable

In [7]:
menu_items=["pizza","pizza","chowmin","pasta"]
menu_items.count("pizza")
"pizza" in menu_items  
"pizza" and "chowmin" in menu_items

True

In [8]:
menu_items=["pizza","pizza","chowmin","pasta"]
"pizza" and "chowmin" in menu_items

True

In [2]:
my_set={3,1.5,9,'age'}
my_set[1]
print(my_set)

TypeError: 'set' object is not subscriptable

In [7]:
my_set={3,1.5,9,'age'}
my_list=list(my_set)
print(my_list[0])

1.5

In [9]:
my_list=[2,3,3,3,90]
my_set=set(my_list)
print(my_set)

{2, 3, 90}

In [10]:
my_list=[2,3,3,3,90]
my_tuple=tuple(my_list)
print(my_tuple)

(2, 3, 3, 3, 90)

In [12]:
my_list=[2,3,3,*3,90]
my_set=set(my_list)
print(my_set)

TypeError: Value after * must be an iterable, not int

In [14]:
my_set={23,34,45,56,78}
for i in my_set:
    print(i)

34
23
56
45
78

# create a set from a list

In [20]:
my_set1={12,34,55,45.4,45.45}
my_set2={23.44,56.778,89.24,23,5}
my_set3=my_set1 + my_set2
print(my_set3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [21]:
my_set1={12,34,55,45.4,45.45}
my_set2={23.44,56.778,89.24,23,5}
my_set3=my_set1 - my_set2
print(my_set3)

{34, 12, 45.4, 45.45, 55}

In [22]:
my_set1={12,34,55,45.4,45.45}
my_set2={23.44,56.778,89.24,23,5}
my_set3=my_set1 and  my_set2
print(my_set3)

{23, 5, 23.44, 56.778, 89.24}

In [23]:
my_set1={12,34,55,45.4,45.45}
my_set2={23.44,56.778,89.24,23,5}
my_set3=my_set1 *  my_set2
print(my_set3)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [24]:
my_set1={12,34,55,45.4,45.45}
my_set2={23.44,56.778,89.24,23,5}
my_set3=my_set1 / my_set2
print(my_set3)

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [25]:
my_set1={12,34,55,45.4,45.45}
my_set2={23.44,56.778,89.24,23,5}
my_set3=my_set1 // my_set2
print(my_set3)

TypeError: unsupported operand type(s) for //: 'set' and 'set'

In [26]:
my_set2={4,89,56.78,67}
my_set2={67,78,6,78,6.8}
my_set1.extend(my_set2)
print(my_set1)

AttributeError: 'set' object has no attribute 'extend'

In [33]:
my_set1={4,89,56.78,67}
my_list1=list(my_set1)
print(my_list1)
my_set2={67,78,6,78,6.8}
my_list2=list(my_set2)
my_set3=my_set1 + my_set2
print(my_set3)

[56.78, 89, 67, 4]

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [37]:
my_set={34,44,34}
my_tuple=tuple(my_set)
print(my_tuple)

(34, 44)

TypeError: 'set' object is not callable

# Empty curly brackets are dict types

In [41]:
set1={}
print(type(set1))

<class 'dict'>

In [44]:
set1=()
print(type(set1=()
priset1))

<class 'tuple'>

In [57]:
new_set={12,34,55,77,88,999,999,88,66,18}
for i in new_set:
    print(i)

34
66
999
12
77
18
55
88

In [3]:
new_set={12,34,55,77,88,999,999,88,66,18}
new_list=list(new_set)
for i in new_list:
    print(i)
print(new_list[0 : 5])
new_list[0] = 2000
print(new_list)
55 in new_set

34
66
999
12
77
18
55
88
[34, 66, 999, 12, 77]
[2000, 66, 999, 12, 77, 18, 55, 88]

True

# Checking if an items exists in set

In [9]:
data_set={23,3,"neha",44,56}
"neha" in data_set
data_set.len

AttributeError: 'set' object has no attribute 'len'

# removing items from a set

# remove () To remove a single items from a set this method will take take one parameter,which is the items to be removed  from the set .Throws a keyerror if an items not prsent in  the original set
# discard() also takes one parameters ,which is the items to be removes if that item is present it will remove it will not throw any error if is not presnt

In [23]:
data_set1={23,"neha" ,"kavita",34,44,56}
print(id(data_set1))
data_set1.remove("neha")
print(id(data_set1))

1290430802720
1290430802720

In [13]:
data_set1={23,"neha" ,"kavita",34,44,56}
data_set1.remove("nitin")
print(data_set1)

KeyError: 'nitin'

In [14]:
data_set1={23,"neha" ,"kavita",34,44,56}
data_set1.discard("neha")
print(data_set1)

{34, 23, 'kavita', 56, 44}

In [19]:
data_set2={23,"mahi" ,"manu",34,44,56}
data_set2.discard("nitin")
print(data_set2)

{34, 23, 'mahi', 56, 44, 'manu'}

In [17]:
data_set2={23,34,"harshita","random_name"}
data_set2.pop()
print(data_set2)

{'random_name', 'harshita', 23}

In [32]:
data_set5={23,34,"harshita","random_name"}
data_set5.del()
print(data_set5)

SyntaxError: invalid syntax (2879456249.py, line 2)

In [15]:

set1={2,5,9,31}
set2={2,5,82,89,93}
set1.difference (set2)

{9, 31}

In [35]:
set_data2={12,23,34,45,66}
set_data3={23,34,23,33,66,78}
set_dat2 union(set_data3)

SyntaxError: invalid syntax (1793254746.py, line 3)

# Symmetric diffence

In [39]:
set_data2={12,23,34,45,66}
set_data3={23,34,23,33,66,78}
print(set_data2.symmetric_difference (set_data3))

{33, 12, 45, 78}

In [41]:
set_data2={12,23,34,45,66}
set_data3={23,34,23,33,66,78}
set_data2.symmetric_difference (set_data3)

{12, 33, 45, 78}

In [43]:
set_data2={12,23,34,45,66}
set_data3={23,34,23,33,66,78}
print(set_data2.difference (set_data3))

{12, 45}

In [44]:
set_data2={12,23,34,45,66}
set_data3={23,34,23,33,66,78}
print(set_data2.intersection(set_data3))

{34, 66, 23}

In [1]:
entry_set1={12,45,78,998,998,34,12}
entry_set2={12,23,34,43,34,23,45}
entry_set1.intersection(entry_set2)

{12, 34, 45}

In [2]:
entry_set1={12,45,78,998,998,34,12}
entry_set2={12,23,34,43,34,23,45}
entry_set1.difference(entry_set2)

{78, 998}

In [4]:
entry_set1={12,45,78,998,998,34,12}
entry_set2={12,23,34,43,34,23,45}
entry_set1.symmetric_difference(entry_set2)

{23, 43, 78, 998}

In [5]:
entry_set1={12,45,78,998,998,34,12}
entry_set1.pop()

34

In [8]:
entry_set1={12,45,78,998,998,34,12}
entry_set1.pop(34)

TypeError: set.pop() takes no arguments (1 given)

In [10]:
entry_set1={12,45,78,998,998,34,12}
entry_set1.del(34)

SyntaxError: invalid syntax (1958850016.py, line 2)

In [14]:
entry_set1={12,45,78,998,"neha",998,34,12}
entry_set1.discard("neha")
print(entry_set1)

{34, 998, 12, 45, 78}

In [15]:
entry_set1={12,45,78,998,"neha",998,34,12}
entry_set1.remove("neha")
print(entry_set1)

{34, 998, 12, 45, 78}

In [1]:
info_set={23,45,56,"name","harshita",45}
info_set.pop()

'harshita'

In [2]:
entry_set1={12,45,78,998,998,34,12}
entry_set2={12,23,34,43,34,23,45}
entry_set1.difference(entry_set2)

{78, 998}

In [3]:
entry_set1={12,45,78,998,998,34,12}
entry_set2={12,23,34,43,34,23,45}
entry_set2.difference(entry_set1)

{23, 43}

In [1]:
info_set={23,45,56,"name","harshita",45}
info_set.pop()

'name'

In [2]:
info_set={23,45,56,"name","harshita",45}
info_set.pop()

'name'

In [3]:
info_set={23,45,56,"name","harshita",45}
info_set.pop()

'name'

In [4]:
info_set={23,45,56,"name","harshita",45}
info_set.pop()

'name'

In [5]:
info_set={4,56,67,66,77}
print(info_set.pop())

66

In [7]:
info_set={23,45,56,"name","harshita",45}
info_set.pop()

'name'

In [22]:
info_set={45,56,67,78}
info_set.pop()
type(info_set)

set

In [2]:
info_set={45,56,67,78}
del info_set()

SyntaxError: invalid syntax (332233098.py, line 2)

In [19]:
info_set={45,56,67,78}
info_set.pop()

56

In [23]:
entry_set1={12,45,78,998,998,34,12}
entry_set1.pop()

34

In [3]:
entry_set1=[12,45,78,998,998,34,12]
entry_set1.id()

AttributeError: 'list' object has no attribute 'id'